body {
    @include text_body;
    background-color: $blanco;
}
#Contactos{
@include text_body;
text-align: center;
height:  100%;

}
figure img{
    border-radius:150px;
    width:20%;
    border-width: 3px;
    border-style: solid;
    border-color: $verde;
}